svg {
    /*border: 1px solid black;*/
}

.stroke {
    fill: none;
    stroke: #ddd;
    stroke-width: 3px;
}

.fill {
    fill: #fff;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}

svg .country {
    /*fill: #DDD;*/
    fill: white;
    stroke: #000;
}

svg .country:hover {
    fill: #f84465;
}

.land {
    fill: #222;
}

.migration-line {
    stroke: #d64161;
}

#sphere {
    fill: lightblue;
}
.no-mouse {
    pointer-events: none;
}

.num_refugees {
    fill: lightblue;
    fill-opacity: 0.6;
    stroke: black;
}

.txt-num-refugees {
    stroke: #000;
    fill: #000;
}




#container {
    margin-bottom: 5px;
    overflow: hidden;
    /*border: 2px solid silver;*/
    border-radius: 6px;
    background: white;
}

.zoom-button {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background: silver;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

#zoom-info {
    display: inline-block;
    padding: 10px;
}